In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup as bs

In [3]:
from urllib.request import urlopen
import logging

In [ ]:
fc_url="https://www.flipkart.com/search?q="+"tv"

In [ ]:
fc_url

In [ ]:
urlclient=urlopen(fc_url)
fc_page=urlclient.read()

In [ ]:
fc_html=bs(fc_page,"html.parser")

In [ ]:
big_box=fc_html.find_all("div",{"class":"_1AtVbE col-12-12"})

In [ ]:
len(big_box)

In [ ]:
del big_box[0:3]

In [ ]:
podu'https://www.flipkart.com'+big_box[0].div.div.div.a['href']

In [ ]:
for i in range(len(big_box)):
    print(i,'https://www.flipkart.com'+big_box[i].div.div.div.a['href'])

In [ ]:
product="https://www.flipkart.com/mi-x-series-108-cm-43-inch-ultra-hd-4k-led-smart-android-tv-dolby-vision-30w-audio-2022-model/product-reviews/itm39b39b602f81a?pid=TVSGHEQVGZVTSEBT&lid=LSTTVSGHEQVGZVTSEBT6BSNVA&marketplace=FLIPKART&page=1"

In [ ]:
product_requests=requests.get(product)

product_requests_html=bs(product_requests.text,"html.parser")

big=product_requests_html.find_all("div",{"class":"col _2wzgFH K0kLPL"})

len(big)

In [12]:
def inside_fun(path_input,class_input):
    try:
        return big[path_input].find_all("p",{"class": class_input})[0].text
    except IndexError as Ie:
        pass
    finally:
        pass

In [13]:
def review_point(path_input,class_input):
    for child in big[path_input].children:
        if child.find_all("div",{"class":class_input}):
             return (child.find_all("div",{"class":class_input})[0].text)
        else:
            pass

In [14]:
def comments(i):
    return big[i].find("div",{"class": ""}).text[:-9]

In [15]:
for i in range(len(big)):  #_3LWZlK _1BLPMq
    print(inside_fun(i,"_2sc7ZR _2V5EHH")
          ,":",inside_fun(i,"_2-N8zT")
        ,":",comments(i)
          ,":",review_point(i,"_3LWZlK _1BLPMq")
        
    )

Flipkart Arijit Dutta : Super! : Beautiful TV. Picture quality very good.. : 5
Mannu Choudhary  : Simply awesome : So good 4k mood : 5
Bablu Kumar Gupta : Terrific : Wonderful : 5
Rakesh Kumar : Decent product : Good ðŸ˜ŠðŸ˜ŠðŸ˜Š : 3
y sunil : Super! : Value for moneyPicture quality is very good and clearSound quality is amazingConnectivity is goodTv look was smartI give 5star rating this tv : 5
Zain Mirza : Unsatisfactory : Don't buy online defective tv sending my TV's usb port not working and i try to replacement product but not answering any one very worst service ever..no any one response service technician and flipkart support team... : None
Joy Thalikulam : Terrific purchase : Very Good : 5
Rj Biswajit Sahoo : Classy product : Picture quality 4.8/5Sound quality 4.4/5Budget 4.1/5Design 5/5Worth. Go for itðŸ˜ŠHappy costumer â˜º : 5
Anmol Raj : Good choice : This is a very good 4k TV in this price you can buy without any doubt. Thank u flipkart : 4
Amit Kumar Gavel : Worth every penny : Best 50inch 4k tv in under 30k : 5

In [10]:
import pandas as pd

In [ ]:
#for i in range(len(big)):
print(pd.DataFrame([inside_fun(i,"_2sc7ZR _2V5EHH"),inside_fun(i,"_2-N8zT")]))

In [ ]:
name_of_client=[]
review=[]
review_stars=[]
review_comments=[]
for i in range(len(big)):  #_3LWZlK _1BLPMq
    name_of_client.append(inside_fun(i,"_2sc7ZR _2V5EHH"))
    review.append(inside_fun(i,"_2-N8zT"))
    review_comments.append(comments(i))
    review_stars.append(review_point(i,"_3LWZlK _1BLPMq"))

In [ ]:
name_of_client

In [ ]:
df=pd.DataFrame({"name":name_of_client
                 ,"review_stars":review_stars
                 ,"review":review,
                 "review_comments":review_comments})

In [ ]:
df

In [ ]:
product="https://www.flipkart.com/mi-x-series-108-cm-43-inch-ultra-hd-4k-led-smart-android-tv-dolby-vision-30w-audio-2022-model/product-reviews/itm39b39b602f81a?pid=TVSGHEQVGZVTSEBT&lid=LSTTVSGHEQVGZVTSEBT6BSNVA&marketplace=FLIPKART&page=2"

In [ ]:
product_requests=requests.get(product)

product_requests_html=bs(product_requests.text,"html.parser")

big=product_requests_html.find_all("div",{"class":"col _2wzgFH K0kLPL"})

len(big)

In [ ]:
name_of_client=[]
review=[]
review_stars=[]
review_comments=[]
for i in range(len(big)):  #_3LWZlK _1BLPMq
    name_of_client.append(inside_fun(i,"_2sc7ZR _2V5EHH"))
    review.append(inside_fun(i,"_2-N8zT"))
    review_comments.append(comments(i))
    review_stars.append(review_point(i,"_3LWZlK _1BLPMq"))

In [ ]:
df=pd.DataFrame({"name":name_of_client
                 ,"review_stars":review_stars
                 ,"review":review,
                 "review_comments":review_comments})

In [ ]:
df["review_comments"]

In [ ]:
        product="https://www.flipkart.com/mi-x-series-108-cm-43-inch-ultra-hd-4k-led-smart-android-tv-dolby-vision-30w-audio-2022-model/product-reviews/itm39b39b602f81a?pid=TVSGHEQVGZVTSEBT&lid=LSTTVSGHEQVGZVTSEBT6BSNVA&marketplace=FLIPKART&page=2"

In [5]:
product="https://www.flipkart.com/mi-x-series-108-cm-43-inch-ultra-hd-4k-led-smart-android-tv-dolby-vision-30w-audio-2022-model/product-reviews/itm39b39b602f81a?pid=TVSGHEQVGZVTSEBT&lid=LSTTVSGHEQVGZVTSEBT6BSNVA&marketplace=FLIPKART&page="

In [17]:
new_df=pd.DataFrame()
for i in range(50):
    new_pro=product+str(i)
    product_requests=requests.get(new_pro)
    product_requests_html=bs(product_requests.text,"html.parser")

    big=product_requests_html.find_all("div",{"class":"col _2wzgFH K0kLPL"})

   # print(i,len(big))
    name_of_client=[]
    review=[]
    review_stars=[]
    review_comments=[]
    for i in range(len(big)):  #_3LWZlK _1BLPMq
        name_of_client.append(inside_fun(i,"_2sc7ZR _2V5EHH"))
        review.append(inside_fun(i,"_2-N8zT"))
        review_comments.append(comments(i))
        review_stars.append(review_point(i,"_3LWZlK _1BLPMq"))
    df=pd.DataFrame({"name":name_of_client
                 ,"review_stars":review_stars
                 ,"review":review,
                 "review_comments":review_comments})
    new_df=pd.concat([new_df,df],ignore_index=True)
print(new_df)

                      name review_stars                 review  \
0    Flipkart Arijit Dutta            5                 Super!
1         Mannu Choudhary             5         Simply awesome
2        Bablu Kumar Gupta            5               Terrific
3             Rakesh Kumar            3         Decent product
4                  y sunil            5                 Super!
..                     ...          ...                    ...
485      Flipkart Customer            5          Great product
486       JITENDRA  JAGTAP            4        Value-for-money
487             Anup Singh            5               Terrific
488               Rajesh G         None  Slightly disappointed
489                Sohan H            5    Best in the market!

                                       review_comments
0            Beautiful TV. Picture quality very good..
1                                      So good 4k mood
2                                            Wonderful
3                                             Good ðŸ˜ŠðŸ˜ŠðŸ˜Š
4    Value for moneyPicture quality is very good an...
..                                                 ...
485  I have used smart tvs from LG, Samsung and Son...
486                                       Nice product
487                      Amazing experience with this.
488  Using after one month I'm writing this review....
489                               Nice value for money

[490 rows x 4 columns]

In [19]:
new_df.tail()

,name,review_stars,review,review_comments
485,Flipkart Customer,5,Great product,"I have used smart tvs from LG, Samsung and Son..."
486,JITENDRA JAGTAP,4,Value-for-money,Nice product
487,Anup Singh,5,Terrific,Amazing experience with this.
488,Rajesh G,None,Slightly disappointed,Using after one month I'm writing this review....
489,Sohan H,5,Best in the market!,Nice value for money

In [32]:
new_df_without_stars=new_df[pd.isnull(new_df["review_stars"])]

In [36]:
new_df_without_stars.sample(10)

,name,review_stars,review,review_comments
416,AMIT BADAYA,None,Not recommended at all,Very poor post sale service
138,Deepak Arya,None,Bad quality,1mounth after tv screen proper black.....plsss...
222,Keella Ganesh,None,Expected a better product,Hanging mobile connect TV
157,Pranab Chatterjee,None,No person/Support to install,Purchased but no one is there to install the T...
465,Flipkart Customer,None,Very poor,Volume is too bad
474,Mukesh Vishwakarma,None,Useless product,I bought MI TV only 5 months ago and the probl...
175,Bhagwan mehetre,None,Waste of money!,After one month automatically display bright...
193,Ravi,None,Horrible,Bad video quality
131,Bala,None,Very poor,Worst it worked only 6 to 7 hours and dead aft...
11,Sweety Arora,None,Utterly Disappointed,TV stop working the same day of installation.N...

In [37]:
new_df_without_stars.fillna(1)

,name,review_stars,review,review_comments
5,Zain Mirza,1,Unsatisfactory,Don't buy online defective tv sending my TV's ...
11,Sweety Arora,1,Utterly Disappointed,TV stop working the same day of installation.N...
14,Flipkart Customer,1,Worthless,"Installation person behaviour is not good, imp..."
32,Himanshu Sharma,1,Don't waste your money,Installation team had a worst experience they ...
42,Chaitanya Joshi,1,Useless product,I was very happy that mi4x got delivered withi...
...,...,...,...,...
467,Abdul Basha,1,Did not meet expectations,Picture quality terrible not at all 4K resolut...
474,Mukesh Vishwakarma,1,Useless product,I bought MI TV only 5 months ago and the probl...
478,Mobile Manu,1,Waste of money!,Nice picture quality is average
479,Kummari Anilkumar,1,Not recommended at all,Chromecast is not working properly
488,Rajesh G,1,Slightly disappointed,Using after one month I'm writing this review....